<% if user_signed_in? && picture.favorite_user(current_user) %>
   <%= button_to favorite_path(picture_id: picture.id), method: :delete, id: "favorite_button",remote: true do %>
     <span>
      ❤️
       <%= picture.favorites_count %>
     </span>
   <% end %>
 <% else %>
   <%= button_to favorites_path(picture_id: picture.id), method: :post, id: "favorite_button",remote: true do %>
     <span>
       ♡
       <%= picture.favorites_count %>
     </span>
   <% end %>
 <% end %>
